# general 
**/.env
**/*.md
/.vscode/
monitor_memory.sh
**/__pycache__/
.github/

# line
line/data/
line/nginx.conf
line/docker-compose.yml
line/.dockerignore

#  web
web_frontend/node_modules/
web_frontend/.claude/
web_frontend/package-lock.json