# general 
**/.env
**/*.md
**/*.txt
**/*.yml
**/*.sqlite3
**/*.log
**/__pycache__/
**/.claude/
.vscode/
monitor_memory.sh
.github/

# Migrations
*/migrations/*.pyc
*/migrations/*.pyo

# line
line/data/
line/nginx.conf
line/.dockerignore

#  web
web_frontend/node_modules/
web_frontend/package-lock.json