# Folders
data/
model/
web/
demo/

# Config files
*.config
*.config.js
*.config.ts
*.config.json
*.cfg
*.ini
*.env
.env*
config.py
config.yaml
config.yml
*config*.json
*config*.yaml
*config*.yml

# CSV files
*.csv

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# System
.DS_Store
